@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Pacifico&display=swap');

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.contact-bar {
    background-color: #3B5998;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    padding-left: 15rem; /* Espacio a la izquierda manipulable */
    padding-right: 15rem; /* Espacio a la derecha manipulable */
}

.contact-bar {
    background-color: rgba(255, 255, 255, 0.8); /* Transparencia aplicada */
    transition: top 1s ease; /* Transición suave para la aparición y desaparición */
}

.main-nav {
    z-index: 1000; /* Asegura que la barra de menú esté encima de otros elementos */
    position: relative; 
    background-color: transparent;
    transition: background-color 0.5s ease;
}

.content {
    transition: opacity 0.01s ease-in-out;
}


.reservation {
    border: 3px solid white;
    background-color: transparent;
}

.reservation.scrolled {
    background-color: #3B5998; /* Azul oscuro al hacer scroll hacia abajo */
}

header.hide {
    top: -100px; /* Ajusta según la altura de tu barra de contacto */
}

/* Estilos para el título */
.title {
    font-family: 'Pacifico', cursive;
    font-size: 2rem; /* Tamaño mediano-grande */
    text-align: center;
    margin: 2rem 0; /* Espacio antes y después del título */
    margin-top: 77vh;
}


.address-icon, .phone-icon {
    display: inline-block;
    margin-right: 20px; /* Espacio a la derecha de la dirección y el teléfono */
}

.right-section {
    display: flex;
    align-items: center;
    margin-left: auto; /* Alinea automáticamente a la derecha */
    padding-right: 20px; /* Espacio a la derecha manipulable */
}

.social-media-icons {
    display: flex;
    justify-content: space-around;
    margin-left: 20px; /* Espacio a la izquierda de los íconos de redes sociales */
    font-size: 1.6rem;
}

.social-icon {
    margin-right: 10px; /* Espacio entre íconos de redes sociales. */
}

.main-nav { 
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: relative; 
    background-color: #07252D;
    transition: background-color 0.5s ease;
}

.main-nav .logo {
    font-size: 35px;
    color: white;
    font-family: 'Pacifico', cursive;
    margin-left: 2rem;
}

.main-nav .logo span {
    font-size: 30px;
}

.menu-items a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

.reservation {
    background-color: #3d5b9b; /* Azul oscuro, similar al de la mascota de Seattle */
    padding: 10px 15px;
    border-radius: 5px;
}

.reservation:hover {
    background-color: #007bff;
    
}

/* Estilos para ocultar la barra de menú y la barra de contacto */
header.hide {
    transform: translateY(-100%);
    transition: transform 0.3s ease;
}

/* Estilos para la versión fija y blanca de la barra de menú */
.main-nav.fixed-white {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #07252D; /* O el color que prefieras */
    z-index: 100; /
    }

.main-nav.fixed-white .right-section {
    padding-right: 55px; /* Ajusta este valor según sea necesario */
}

.main-nav.fixed-white .menu-items {
    margin-right: 55px; /* O ajusta el margen si es más apropiado */
}

/* Ajusta el color de los enlaces para que contraste con el fondo blanco */
.main-nav.fixed-white .menu-link, .main-nav.fixed-white .reservation {
    color: #ffffff; /* Cambia el color del texto */
}

/* Asegura que el logo y los íconos de redes sociales sean visibles en el fondo blanco */
.main-nav.fixed-white .logo, .main-nav.fixed-white .social-icon i {
    color: #ffffff; /* Cambia el color para asegurar la visibilidad */
}

.menu-link {
    position: relative; /* Necesario para posicionar el pseudo-elemento */
    display: inline-block; /* Permite dimensionar y posicionar el enlace */
    overflow: hidden; /* Asegura que el pseudo-elemento no se muestre fuera de los límites */
}

.menu-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%; /* Inicia sin mostrarse */
    height: 2px; /* Altura de la barra de carga */
    background-color: #ffffff; /* Color de la barra de carga */
    transition: width 0.4s ease; /* Transición suave del ancho */
}

.menu-link:hover::after {
    width: 100%; /* Extiende la barra de carga a todo el ancho al hacer hover */
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 0px 16px;
    z-index: 1;
    margin-top: 0.7%;
    margin-right: 20%;
    left: 70%; /* Centrar el dropdown */
    width: 48%;
    height: 110%;
    transform: translateX(-50%);
    
}

.dropdown-content::before {
    content: '';
    position: absolute;
    top: -10px; /* Extiende 10px hacia arriba */
    left: 0;
    right: 0;
    height: 10px; /* Altura del área invisible */
    background-color: transparent; /* Invisible */
}

.dropdown-content img {
    width: 24.5%;
    max-height: 100%;
}

/* Mostrar el dropdown cuando se hace hover sobre el enlace Menús */
.menu-link:hover + .dropdown-content, .dropdown-content:hover {
    display: block;
}

.btn-menu{
    cursor: pointer;
}

.hidden {
    display: none;
}

.shown {
    display: block; /* O `flex`, `grid`, etc., según tu layout */
}