.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 95vh; /* 90% de la altura de la pantalla */
    background-image: url('https://digital.ihg.com/is/image/ihg/kimpton-seattle-8211701462-2x1'); /* Asegúrate de reemplazar con tu imagen */
    background-size: cover;
    background-position: center;
    z-index: -1;
    transition: opacity 1s ease;; /* Transición suave para la opacidad */
    opacity: 1; /* Opacidad inicial completa */
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.contact-bar {
    background-color: rgba(255, 255, 255, 0.8); /* Transparencia aplicada */
    transition: top 1s ease; /* Transición suave para la aparición y desaparición */
}

.main-nav {
    z-index: 1000; /* Asegura que la barra de menú esté encima de otros elementos */
    position: relative; 
    background-color: transparent;
    transition: background-color 0.5s ease;
}

.content {
    transition: opacity 0.01s ease-in-out;
}


.reservation {
    border: 3px solid white;
    background-color: transparent;
}

.reservation.scrolled {
    background-color: #3B5998; /* Azul oscuro al hacer scroll hacia abajo */
}

header.hide {
    top: -100px; /* Ajusta según la altura de tu barra de contacto */
}

/* Estilos para el título */
.title {
    font-family: 'Pacifico', cursive;
    font-size: 2rem; /* Tamaño mediano-grande */
    text-align: center;
    margin: 2rem 0; /* Espacio antes y después del título */
    margin-top: 77vh;
}

@keyframes slideUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.rectangles {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
}

/* Estilos base para los rectángulos */
.rectangle {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Alinea el contenido al final */
    align-items: center;
    width: 15%; /* Ancho de los rectángulos */
    height: 26rem; /* Altura de los rectángulos */
    background-color: #ccc; /* Color de fondo temporal */
    margin: 1rem; /* Margen para separación */
    position: relative; /* Necesario para ajustes de posición */
    background-size: cover; /* Asegura que la imagen de fondo cubra completamente el rectángulo */
    overflow: hidden;
    opacity: 1;
    transition: transform 0.5s ease; /* Transición suave para el zoom */
}

.rectangle:hover {
    transform: scale(1.1);
}


.zoom-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    transform: scale(1.1); /* Efecto de zoom */
}

.zoom-container:hover {
    transform: scale(1.1); /* Efecto de zoom */
}

.rectangle-name {
    color: #fff; /* Ajusta el color del texto según necesites */
    font-size: 0.9rem; /* Ajusta el tamaño del texto según necesites */
    text-align: center;
    margin-bottom: 18px; /* Espacio debajo del nombre, ajusta según necesites */
    width: 100%; /* Asegura que el texto se ajuste al ancho del rectángulo */
    background: rgba(0, 0, 0, 0.5); /* Opcional: fondo para mejorar la legibilidad */
    padding: 5px 0; /* Espaciado interno para el fondo */
    font-family: 'Pacifico', cursive;
}

.rectangles .rectangle:nth-child(1) {
    background-position: center;
}

.rectangles .rectangle:nth-child(2) {
    background-position: center;
}

.rectangles .rectangle:nth-child(3) {
    background-position: center;
}

.rectangles .rectangle:nth-child(4) {
    background-position: 75% 50%; /* Ajusta a tu gusto */
}

.rectangles .rectangle:nth-child(2), .rectangles .rectangle:nth-child(4) {
    margin-top: 45px; /* Ajusta este valor según necesites */
}

.rectangle:hover {
    transform: scale(1.1); /* Aumenta el tamaño del rectángulo (y la imagen) al pasar el cursor */
}

.contact-bar {
    transition: top 0.3s ease;
}

/* Asegura que los rectángulos sean clicables como botones */
.rectangle a {
    display: block;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.2); /* Fondo ligeramente oscuro para visualizar el contenido */
}


.welcome-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2; /* Asegúrate de que esté por encima de la imagen de fondo pero debajo de otros elementos si es necesario */
    transition: opacity 1.5s ease, transform 1.5s ease; /* Transición suave para la opacidad y el movimiento */
}

.welcome, .chapin, .rain {
    margin: 0;
    color: white; /* Ajusta el color según tu diseño */
    font-family: 'Pacifico', cursive;
}

.chapin, .rain {
    font-size: 4rem; /* Ajusta el tamaño según tu diseño */
}

.welcome {
    font-size: 2rem;
}

.section-background {
    display: flex;
    flex-direction: column;
    color: white;
    padding: 50px;
    width: 100%;
    height: 80vh;
    background-color: #35586C; /* Color verde azulado oscuro */
    color: white; /* Color del texto */
    padding: 18px 0 ; /* Espaciado arriba y abajo para el contenido dentro del fondo */
    text-align: center; /* Centra el contenedor del título horizontalmente */
    margin-top: 5vh;
}

.title-container {
    position: relative; /* Necesario para posicionar las líneas respecto al título */
    display: inline-block; /* Asegura que el contenedor se trate como un bloque en línea */
    padding: 0 5px; /* Espaciado alrededor del título para no solapar las líneas */
}

.second-title {
    display: inline; /* Alinea el título correctamente con las líneas */
    margin: 0; /* Elimina el margen por defecto del título */
    padding: 0 10px; /* Espaciado alrededor del texto del título */
    font-size: 2rem; /* Tamaño del título */
    color: white; /* Color del texto del título */
}

.line {
    border-top: 2px solid rgb(255, 255, 255); /* Estilo de la línea */
    width: 50px; /* Ancho de la línea */
    position: absolute; /* Posiciona las líneas respecto al contenedor del título */
    top: 50%; /* Alinea las líneas verticalmente al centro */
    transform: translateY(-50%); /* Asegura que las líneas estén centradas verticalmente */
}

.line:first-of-type {
    left: -60px; /* Posiciona la primera línea a la izquierda del título */
}

.line:last-of-type {
    right: -60px; /* Posiciona la segunda línea a la derecha del título */
}

