#carousel-containerop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    transition: opacity 0.5s ease-in-out;
    padding: 9rem;
}

.carousel-arrowop {
    cursor: pointer;
    font-size: 24px;
}

.quoteop, .authorop, .starsop {
    text-align: center;
}

.quoteop {
    font-size: 80px;
    max-height: 8vh;
}

.titleop {
    font-size: 30px;
    text-decoration: underline;
    text-align: center;
    padding: 20px;
}

.paragraphop {
    font-size: 20px;
}

.starsop {
    color: gold;
}

.hidden {
    display: none;
}

.carouselContainerop {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.carouselContainerop.active {
    opacity: 1;
}