.hero-image {
    width: 100%;
    height: 60vh;
    background-image: url('https://scontent-sea1-1.xx.fbcdn.net/v/t39.30808-6/408996975_1145245899800400_4144525106448103351_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=3635dc&_nc_ohc=-TZ7Vii1vakAX9NfPbG&_nc_ht=scontent-sea1-1.xx&oh=00_AfBe-oVDi0xejZf_NULOczWOu0EdD8IcZWCPSoqHN0up8A&oe=65DC2610');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Esto es clave para el efecto */
    position: relative;
}

.hero-text {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 175%);
    text-align: center;
}

.hero-text::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Fondo negro semitransparente */
    z-index: -1;
    height: 120%;
}

.hero-text h1 {
    margin: 0;
    font-size: 2.5em;
}

.hero-text p {
    margin-top: 1%;
    font-size: 1.2em;
}

.hero-text h1, .hero-text p {
    color: #ffffff; /* Cambia el color del texto a blanco */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra negra suave */
}

.containerMenus {
    display: flex;
    width: 100%;
    margin-top: 25%;
}

.sidebar {
    width: 30%; /* Barra de menú ocupa el 30% */
    background-color: #07252D;
    height: 225.9vh; /* Ajusta la altura al 100% de la ventana de visualización */
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.restaurant-logo {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.restaurant-logo img {
    width: 100%; /* Ajusta según el tamaño deseado */
    margin-top: 6rem;
    background-color: transparent;
    cursor: pointer;
}

h2 {
    margin-top: 1.5rem;
    color: #A47F20;
    font-size: 2.2rem;
}

ul {
    list-style-type: none;
    padding: 0;
    color: white;
}

ul li a {
    text-decoration: none;
    color: #ffffff;
    display: block;
    padding: 10px;
    color: white;
}

.reserve-now {
    background-color: #A47F20;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 0px;
    cursor: pointer;
    border-radius: 5px;
    width: 50%;
    height: 3%;
    font-size: 120%;
}

.reserve-now:hover {
    transform: scale(1.1); /* Aumenta el tamaño del rectángulo (y la imagen) al pasar el cursor */
    border-radius: 15px;
}


.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    font-size: 130%;
    display: flex; /* Convierte la lista en un contenedor flex */
    flex-direction: column; /* Organiza los elementos de la lista verticalmente */
    align-items: center;
}

.sidebar ul li {
    margin-bottom: 40px; /* Aumenta el espacio entre los elementos del menú */
}

.sidebar ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-bottom: 1px solid #ddd;
    text-align: center; /* Asegura que el texto dentro de los enlaces también esté centrado */
    border-bottom: none; /* Elimina la línea entre los elementos */
}

.sidebar ul li a:hover {
color: #A47F20;
transform: scale(1.1);
}


.contentMenus {
    width: 70%; /* Contenedores e imágenes ocupan el 70% restante */
    padding: 0px;
    display: flex;
    flex-direction: column; /* Organiza los elementos verticalmente */
}

.content-box, .content-image {
    width: 100%; /* Ocupa todo el ancho disponible del contenedor .content */
    margin-bottom: 20px;
}

.content-box {
    height: 85vh; /* Altura fija para los contenedores */
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: #ffffff; /* Fondo claro para los contenedores */
    padding: 10px;
    border-radius: 8px; /* Bordes redondeados para suavizar el diseño */
    margin: 20px auto; /* Centra el contenedor en la sección de contenido */
    box-shadow: 0px 0px 15px #07252D;
    max-width: 960px; /* Margen para separar los contenedores */
}

.content-image {
    height: 20vh; /* Altura fija para mantener la consistencia con los contenedores */
    object-fit: cover; /* asegura que las imágenes cubran el área designada sin perder proporciones */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave para dar profundidad */
    margin: 0px auto; /* Centra el contenedor en la sección de contenido */
    max-width: 960px; 
}

.menu-titleM {
    grid-column: 1 / -1; /* Hace que el título ocupe toda la anchura */
    text-align: center;
    color: #333; /* Color oscuro para el título, ajusta según tu paleta */
    margin-bottom: 24px; /* Espacio debajo del título */
    font-size: 3rem;
}

.menu-itemsM {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas */
    gap: 20px; /* Espacio entre los elementos del menú */
}
 
 .menu-itemM {
    position: relative; 
    background-color: #07252D; /* Fondo ligeramente diferente para cada platillo */
    padding: 15px;
    border-radius: 8px; /* Bordes redondeados */
    cursor: pointer;
 }

 .menu-item-image {
    position: absolute;
    top: -15%; /* Ajusta esto para controlar la distancia sobre el ítem */
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    width: 150px; /* Ajusta según el tamaño deseado de la imagen */
    height: 150px; /* Ajusta según el tamaño deseado de la imagen */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    opacity: 0; /* Inicialmente oculto */
    visibility: hidden; /* También lo hacemos invisible inicialmente */
    transition: opacity 0.3s ease, visibility 0.3s ease; /* Transición suave para ambos, opacidad y visibilidad */
}

.menu-item-image img {
    width: 100%;
    height: auto;
}

.menu-item-image-visible {
    opacity: 1 !important;
    visibility: visible !important;
}

 .menu-itemM h3 {
     margin-top: 0;
     color: #ffffff; /* Color para el nombre del platillo */
 }
 
 .menu-itemM p {
     color: #e2e2e2; /* Color para la descripción */
     font-size: 0.9em; /* Tamaño de fuente más pequeño para la descripción */
 }
 
 .price {
     display: block;
     margin-top: 10px;
     color: #9b7400; /* Color para el precio */
     font-weight: bold; /* Resalta el precio */
 }

 @media (max-width: 768px) {
    .menu-items {
        grid-template-columns: repeat(2, 1fr); /* 2 columnas para pantallas medianas */
    }
}

@media (max-width: 480px) {
    .menu-items {
        grid-template-columns: 1fr; /* 1 columna para pantallas pequeñas */
    }
}